label{
  font-family: inherit;
  font-style: italic;
  font-size: 20px;
  /*vertical-align: right;*/
}

div.columns       { width: 900px; }
div.columns div   { width: 300px; height: 200px; float: left; }
div.clear         { clear: both; }
div.columns       { position: absolute; left: 10;}
/*#current{
  position: absolute;
  top: 30px;
  right: 300px;

}*/

form{
  position: absolute;
  top: 350px;
}

#button{
  background-color: grey;
  font-size: 16px;
  color: black;
}

input{
  font-size: 16px;
  font-family: inherit;
  margin: 5px;
}

#tasks{
  position: absolute;
  top: 30px;
  right: 10px;
}

body{
  background-color: #6d695c;
  background-image:
  repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
  linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
  linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
  background-size: 70px 120px;
}
