<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../static/css/stylesheet.css"></link>
    <meta charset="utf-8">
    <title>Tasks</title>
  </head>
  <body>
    <form id='task' action="index.html" method="post">
      <h2>Create New Task</h2>
      <label for="">Title:</label>
        <input type="text" name="title" value="{{title}}"><br>
      <label for="">Description:</label>
        <input id='description' type="text" name="description" value="{{description}}"><br>
      <label for="">Priority:</label><br>
        <input type="radio" name="priority" value="urgent" checked>Urgent<br>
        <input type="radio" name="priority" value="important">Important<br>
        <input type="radio" name="priority" value="unimportant">Unimportant<br>
        <input type="radio" name="priority" value="other">Other:
        <input type="text" name="priority" value=""><br>
      <label for="">Status:</label><br>
        <input type="radio" name="status" value="waiting" checked>Waiting<br>
        <input type="radio" name="status" value="doing">Doing<br>
        <input type="radio" name="status" value="finished">Finished<br>
        <input type="radio" name="status" value="other">Other:
        <input type="text" name="status" value=""><br>
      <input id="button" type="submit" value="Create Task">
    </form>
    <div id='current' class='columns'><h2>Current Tasks</h2>
      <div id='waiting' ><h3>Waiting:</h3><ul id='waitingTasks'></ul></div>
      <div id='doing' ><h3>Doing:</h3><ul id='doingTasks'></ul></div>
      <div id='finished' ><h3>Finished:</h3><ul id='finishedTasks'></ul></div>
    </div>
    <ul id="tasks"></ul>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="../../static/faketrello/faketrello.js"></script>
  </body>
</html>
