<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../static/css/stylesheet.css"></link>
    <meta charset="utf-8">
    <title>Users</title>
  </head>
  <body>
    <form action="index.html" method="post">
      <h2>Create New User</h2>
      <label for="">Username</label>
        <input type="text" name="username" value=""><br>
      <label for="">Email</label>
        <input type="text" name="email" value=""><br>
      <label for="">Password</label>
        <input type="text" name="password" value=""><br>
      <label for="">Confirm Password</label>
        <input type="text" name="confpass" value=""><br>
      <input type="button" name="submit" value="Submit">
    </form>
  </body>
</html>
